<!DOCTYPE html>
<html lang="en">

<head>
   <!-- Navigation section
================================================== -->
   <div class="nav-container">
      <nav class="nav-inner transparent">

         <div class="navbar">
            <div class="container">
               <div class="row">

                  <div class="brand">
                     <a href="index.html">{{ site.name }}</a>
                  </div>

                  <div class="navicon">
                     <div class="menu-container">
                        <div  class="circle dark inline">
                           <a href="{{site.baseurl}}/about">联系我</a>
                        </div>
                        <div  class="circle dark inline">
                              <a href="..">主页</a>
                           </div>
                     </div>
                  </div>

               </div>
            </div>
         </div>

      </nav>
   </div>
   <!--

Template 2082 Pure Mix

http://www.tooplate.com/view/2082-pure-mix

-->
   {% include meta.html %}

   <!-- Site title
   ================================================== -->
   <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

   <!-- Bootstrap CSS
   ================================================== -->
   <link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.min.css">

   <!-- Animate CSS
   ================================================== -->
   <link rel="stylesheet" href="{{site.baseurl}}/css/animate.min.css">

   <!-- Font Icons CSS
   ================================================== -->
   <link rel="stylesheet" href="{{site.baseurl}}/css/font-awesome.min.css">
   <link rel="stylesheet" href="{{site.baseurl}}/css/ionicons.min.css">

   <!-- Main CSS
   ================================================== -->
   <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">


</head>

<body>





   <!-- Header section
================================================== -->
   <!--
<section id="header" class="header-one">
	<div class="container">
		<div class="row">

			<div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
          <div class="header-thumb">
              <h1 class="wow fadeIn" data-wow-delay="1.6s">我是牛岱</h1>
              <h3 class="wow fadeInUp" data-wow-delay="1.9s"></h3>
          </div>
			</div>

		</div>
	</div>		
</section>
-->

   <!-- Content section
================================================== -->
   <section id="portfolio">
   {{content}}
   </section>

   <!-- Footer section
================================================== -->
   <footer>
      <div class="container">
         <div class="row">

            <div class="col-md-12 col-sm-12">
               <p>Copyright © 2019 DaiNiu</p>
               <a href="{{site.baseurl}}/" class = "footer">返回主页<br></a>
               <a href="{{site.baseurl}}/about" class = "footer">联系牛岱</a>
                  {% include svg-icons.html %}
                  {% include analytics.html %}
               </ul>
            </div>

         </div>
      </div>
   </footer>

   <!-- Javascript 
===================================================== -->
   <script src="{{site.baseurl}}/js/jquery.js"></script>
   <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
   <script src="{{site.baseurl}}/js/isotope.js"></script>
   <script src="{{site.baseurl}}/js/imagesloaded.min.js"></script>
   <script src="{{site.baseurl}}/js/wow.min.js"></script>
   <script src="{{site.baseurl}}/js/custom.js"></script>

</body>

</html>